* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 40px;
    background-color: rgb(21, 151, 226);
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

header {
    max-width: 700px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom: solid rgb(21, 151, 226);
}

#logo {
    width: 120px;
    height: 45px;
    margin-left: 10px;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.body-container {
    width: 700px;
}

main {
    max-width: 700px;
}

#conversation {
    max-width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: white;
    scroll-margin-block-end: 10px;
}

#conversation:first-child {
    padding-top: 6px;
}

#conversation:last-child {
    padding-bottom: 10px;
}

.sender-nickname {
    font-size: 15px;
    color: rgb(21, 151, 226);
    font-family: sans-serif;
    font-weight: 700;
    margin-left: 63px;
    margin-top: 5px;
}

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#conversation::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#conversation::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#conversation::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */

.left-groupchat-message-container {
    display: flex;
}

.conversation-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 6px;
    align-self: flex-end;
    margin-bottom: 4px;
}

.message-container {
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 9px 9px 9px 9px;
    font-family: sans-serif;
    text-align: left;
    max-width: 400px;
    word-wrap: break-word;
}

.left-message-container {
    align-self: flex-start;
    margin-left: 6px;
    background-color: white;
    box-shadow: 2.5px 5px rgb(197, 196, 196);
}

.right-message-container {
    align-self: flex-end;
    margin-right: 8px;
    background: rgb(159, 255, 188);
    box-shadow: 2.5px 5px rgb(80, 226, 124);
}

.image-container {
    max-width: 400px;
    border-radius: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    padding-top: 4px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-left: 9px;
}

.left-image-container {
    align-self: flex-start;
    margin-left: 6px;
    background-color: white;
    box-shadow: 2.5px 5px rgb(197, 196, 196);
}

.right-image-container {
    align-self: flex-end;
    margin-right: 8px;
    background-color: rgb(118, 252, 158);
    box-shadow: 2.5px 5px rgb(64, 190, 102);
    background-size: cover;
}

.uploaded-image {
    width: 100%;    /* RESPONSIVE IMAGE SIZE !!!!!!!!!!!!!!!!!!! */
    height: auto;   /* RESPONSIVE IMAGE SIZE !!!!!!!!!!!!!!!!!!! */
    border-radius: 14px;
    margin-top: 5px;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

footer {
    max-width: 700px;
    height: 60px;
    background-color: rgb(21, 151, 226);
    border-bottom-left-radius: 10px;
    border: solid white;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

#data {
    width: 450px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    background: transparent;
    border: transparent;
    color: black;
    outline: none;
}

#data::placeholder {
    color: white;
}

.custom-file-upload {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    mix-blend-mode: darken;
    background: url(/chat/public/img/sk.png);
    background-size: cover;
    margin-bottom: 8px;
    margin-left: 10px;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.files {
    width: 30px;
    height: 30px;
    opacity: 0;
    overflow: hidden;
}

#upload-files-button {
    
}

/* alert alert alert alertalert alert alert alertalert alert alertalert alert alert */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  

.overlay-container {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 300px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .overlay-container h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .close1, .close2 {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
/* alert alert alert alertalert alert alert alertalert alert alertalert alert alert */

.custom-send-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

#send-message-button {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 10px;
    background: url(/chat/public/img/send.png);
    background-size: cover;
    mix-blend-mode: darken;
    border: none;
    display: none;
}
#send-message-button:active {
    transform: scale(1.1);
}

.progress-bar {
    
    height: 35px;
    width: 250px;
    border: 2px solid darkblue;
}

.progress-bar-fill {
    
    height: 100%;
    width: 0;
    background: lightblue;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: 700;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

aside {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 151, 226);
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#chat-info-container {
    width: 300px;
    height: 300px; 
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 151, 226);
    border-radius: 40px;
}

#avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#nickname {
    margin: 0 auto;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
}

#upload-avatar-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.avatar_input {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

.button-avatar {
    
}

#upload_avatar {
    margin-top: 5px;
    width: 50px;
    border-radius: 10px;
    font-family: sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
}

.menu-item {
    font-size: 20px;
    font-family: sans-serif;
}

#menu-images {
    cursor: pointer;
}

#menu-files {
    cursor: pointer;
}

#menu-members {
    cursor: pointer;
}

#images-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.images-container-image {
    width: 105px;
    height: 105px;
    object-fit: cover;
}

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#images-container::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#images-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#images-container::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */

#files-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 200px;
    width: 180px;
    font-size: 20px;
    align-self: center;
    border-left: solid white;
    padding-left: 5px;
}

.files-container-file {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#files-container::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#files-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#files-container::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */

#members-container {
    display: none;
    flex-direction: column;
    align-items: left;
    font-family: sans-serif;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}

.members-container-image {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.member {
    display: flex;
    align-items: center;
    position: relative;
}

.delete-member {
    border-radius: 5px;
    position: absolute;
    right: 15px;
}

#add-member-image {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
}

#add-member-image:active {
    transform: scale(1.1);
}

#change-members {
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: scroll;
    gap: 5px;
    margin-top: 5px;
}

#change-members input[type="submit"] {
    width: 50px;
}

.friend-checkbox {
    align-items: center;
}

.friend {
    margin-left: 10px;
    font-family: sans-serif;
}

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#change-members::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#change-members::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#change-members::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#members-container::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#members-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#members-container::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */