body {
    max-width: 1920px;
    margin: 40px;
    background-color: rgb(21, 151, 226);
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

header {
    max-width: 700px;
    height: 50px;
    background-color: rgb(21, 151, 226);
    border-top-left-radius: 10px;
    border: solid white;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.body-container {
    width: 700px;
}

main {
    max-width: 700px;
    background-color: rgb(153, 97, 23);
}

#conversation {
    max-width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /*background-image: url("2.jfif");*/
    background-color: rgb(245, 211, 166);
    scroll-margin-block-end: 10px;
}

#conversation:first-child {
    padding-top: 6px;
}

#conversation:last-child {
    padding-bottom: 10px;
}

/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */
/* width */
#conversation::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
  
/* Track */
#conversation::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

/* Handle */
#conversation::-webkit-scrollbar-thumb {
    background: rgb(204, 202, 202);
    border-radius: 10px;
}
/* scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll scroll */

.message-container {
    max-width: 300px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 9px;
    padding-left: 9px;
    padding-bottom: 9px;
    /*background-color: rgb(21, 151, 226);*/
    font-family: sans-serif;
}

.left-message-container {
    align-self: flex-start;
    margin-left: 6px;
    background-color: white;
    box-shadow: 2.5px 5px rgb(197, 196, 196);
}

.right-message-container {
    align-self: flex-end;
    margin-right: 8px;
    background-color: rgb(118, 252, 158);
    box-shadow: 2.5px 5px rgb(64, 190, 102);
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

footer {
    max-width: 700px;
    height: 60px;
    background-color: rgb(21, 151, 226);
    border-bottom-left-radius: 10px;
    border: solid white;
    display: flex;
    flex-direction: row;
}

#data {
    width: 600px;
    height: 50px;
    font-size: 16px;
    font-family: sans-serif;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#attach-files-image {
    width: 50px;
    height: 50px;
}

.files {
    display: none;
}

.progress-bar {
    display: none;
    height: 35px;
    width: 250px;
    border: 2px solid darkblue;
}

.progress-bar-fill {
    display: none;
    height: 100%;
    width: 0;
    background: lightblue;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: 700;
}

/*----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

aside {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 151, 226);
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#chat-info-container {
    width: 300px;
    height: 300px; 
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 151, 226);
    border-radius: 40px;

}

#avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

#nickname-tag {
    margin: 0 auto;
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
}
