<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up</title>
</head>

<body>
  <h1>Sign up</h1>
  <form method="post" action="/item/add">
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Add">
  </form>
  <!--<h4>Users:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
  </ul>-->
</body>

</html>